body {
    font-family: Arial;
    font-style: italic;
    color: white;
    background-image: url("kk.avif");
    background-repeat: no-repeat;
}

h2{
                color: white;
                text-decoration: underline;
}

.main-title {
    color:blue;
}

h1 {
    text-align: center;
}
